DEBUG=True
SECRET_KEY=change-me-to-a-long-random-string
ALLOWED_HOSTS= https://devseeks-savings.vercel.app/, localhost,127.0.0.1
ENVIRONMENT=development

# PostgreSQL Database Configuration
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=DjfaRJcXmLfuJfMhsLqfIWorZRDpdIUm
DB_HOST=kodama.proxy.rlwy.net
DB_PORT=5432

# Production examples:
# DEBUG=False
# ENVIRONMENT=production
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
# SECURE_HSTS_SECONDS=31536000
# SECURE_HSTS_INCLUDE_SUBDOMAINS=True
# SECURE_HSTS_PRELOAD=True
